body{
    background-color: white;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -60px;
}

a{
    color: black;
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 64px;
}

div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}