body{
    font-family: monospace;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: rgb(246, 242, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -8px;
    padding: 8px;
}

a{
    color: black;
    text-decoration: none;
}

button{
    background-color: green;
    border: 6px green solid;
    border-radius: 75px;
    color: white;
    font-family: monospace;
}

button > a{
    color: white;
    font-family: monospace;
}

p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}