body{
    background-color: rgb(10, 10, 10);
    color: white;
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 6px rgb(225, 255, 0) solid;
    background-color: rgb(225, 255, 0);
    border-radius: 26px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(40, 40, 40);
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#watch{
    background-image: url(watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 828px;
}