body{
    background-color: rgb(38, 38, 38);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    border-radius: 8px;
    border: white 2px solid;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-size: large;
}

input{
    border-radius: 4px;
    border: white 2px solid;
    background-color: black;
    color: white;
    margin: 8px;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}