#ball{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: white;
    border-right: 2px black dotted;
    animation: fall 5s cubic-bezier(0, 0, 0, 0) infinite;
    position: absolute;
}

@keyframes fall{
    0%{

    }
    100%{
        transform: rotate(2880deg);
        top: 800px;
        left: 1600px;
    }
}