body{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

nav{
    background-color: rgb(255, 200, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: black;
}

div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    margin: 10px;
    color: black;
    text-decoration: none;
}