#p{
    color:yellow;
    width: 10px;
    height: 10px;
}
#q{
    color:black;
    width: 10px;
    height: 10px;
}
#r{
    color: purple;
    width: 10px;
    height: 10px;
}
#s{
    color: brown;
    width: 10px;
    height: 10px;
}