body{
    background-color: rgb(19, 40, 52);
}

form{
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border: 2px white solid;
    border-radius: 6px;
    margin-left: 150px;
    margin-right: 150px;
}

div{
    background: black;
    text-align: center;
    color: red;
    border-radius: 5px 10px 40px 20px;
}

label{
    color: white;
    font-family: monospace;
}

input{
    background: rgb(19, 40, 52);
    border: 2px white solid;
    border-radius: 6px;
    font-family: monospace;
    color: white;
}

