body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
}